### Domain Configuration
DOMAIN=

### User / Environment Configuration
PUID=1000
PGID=1000
TZ=Asia/Hong_Kong

### NetBox Initialize Superuser Credentials
SUPERUSER_EMAIL=initialize-superuser-email
SUPERUSER_PASSWORD=initialize-superuser-password

### Network / Host Settings
ALLOWED_HOST=${DOMAIN},localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://${DOMAIN}

### Database Configuration (PostgreSQL)
DB_NAME=netbox
DB_USER=netbox
DB_PASSWORD=your-db-password
DB_HOST=postgres
DB_PORT=5432

### Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
# REDIS_USERNAME=
# REDIS_PASSWORD=
REDIS_DB_TASK=0
REDIS_DB_CACHE=1

### Optional Settings (Uncomment if needed)
# BASE_PATH=
# REMOTE_AUTH_ENABLED
# REMOTE_AUTH_BACKEND
# REMOTE_AUTH_HEADER
# REMOTE_AUTH_AUTO_CREATE_USER
# REMOTE_AUTH_DEFAULT_GROUPS
# REMOTE_AUTH_DEFAULT_PERMISSIONS